/* Site menu formatting
------------------------------ */
.menu {
    display: inline-block;
	min-width: 100px;
	margin: 2px;
	width: calc(12.5% - 8px);
	text-align: center;
}
.sitemenu{
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
}
.menu a {
	height: 1%;
	display: block;
	padding: 3px;
	border: 1px solid;
	border-color: #ddd #000 #000 #ddd;
	background-color: #EEE;
	color: #336633;
	text-decoration: none;
}
.menu a:hover {
	background-color: #336633;
	color: white;
}
.group a {
	text-align:left;
}
#navigation a.sub {
	font-weight: bold;
	font-size: 1.1em;
	color:#336633;
} 
.righthead {
	float: right;
}
/* Admin toolbox
------------------------------ */
#admin, #admin_data {
	position: fixed;
  _position: absolute;
	right: 0px;
	top: 0px;
	width: 150px;
	border-bottom: 1px solid #E6E6DF;
	border-left: 1px solid #E6E6DF;
	background: #fff;
    z-index: 2; 	
    text-align: left;
}
#admin_data {
	top: 0px;
	padding-top: 10px;
	z-index: 1;
	line-height: 1.6em;
	text-align: center;
}
#admin_data ul {
	padding-left: 5px;
}
#admin h3 {
	font-size:12px;
	color: #989;
	margin: 0;
	padding: 0; 
	text-align: center;
}
#admin h3:hover { 
	color: #036; 
}
.aspectratioerror {
    background-color: #f5a0a0 !important;
}

/* Font style attributes
------------------------------ */
body td, th, p, div, input, form, textarea {
	font-family:verdana,helvetica, sans-serif;
	font-size:12px;
}
h1, h2, h3, h4, h5, .h4 {
	background-color: inherit;
	text-decoration: none;
	color:#336633;
}
h1 {
	font-size:30px;
	padding:.1em 0 0;
}
h2 {
	font-size:18px;
	text-align: left;
	margin: 0 0 5px 0;
}
h3 {
	font-size:16px; 
	text-align:center;
}
h4 {
	font-size:15px;
	margin: 1.2em 0 0.5em;
}
h1 a, h2 a, h4 a {
	text-decoration: none;
	color:#336633;
}
h1 a:hover, h2 a:hover, h4 a:hover {
	text-decoration: underline;
}
h5 {
	font-size:13px;
	display: inline;
	vertical-align: bottom;
}
a {
	color:black;
	background-color: inherit;
}
a:hover {
	color:#336633;
	background-color: inherit;
	text-decoration: none;
}
/* Album / Image specific stuff
------------------------------ */
#images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
}
#imagewrapper .image {
	width: calc(33% - 12px);
	padding: 5px;
}
.imagethumb, .albumthumb {
  text-align: center;
}
.image {
	text-align: center;
	padding: 0;
	width: 100%;
	margin: 2px;
	display: inline-block;
	text-decoration: none;
	color: black;
}
.imagetitle {
  width: 95%;
  margin: 5px auto 20px;
}
.imagethumb img, .albumthumb img {
	border: none;
	max-width: 100%;
	max-height: 300px;
	height: auto;
	width:auto;
}
.imagetitle {
	vertical-align: top;
}
.imagetitle h4 {
	padding: 5px 0;
	margin: 0;
}
.imagetitle h4:hover {
	text-decoration: underline;
}
.imagetitle p {
	margin: 0.3em auto;	
}
.album, .image, .news {
	background-color: #F5F6F5;
	padding: 10px;
}
.album, .news {
    clear: both;
	overflow:auto; 
}
.album {
	margin-bottom: 5px;
}
.album h4, .image h4 {
	padding: 5px 0;
	margin: 0;
}
#indexalbums {
	padding: 5px;
}
.albumthumb {
	vertical-align: top;
	float: left;
	padding: 0 10px 15px 0;
	max-width: 400px;
}
.albumdesc, .summarydesc {
	text-align: left;
	vertical-align: top;
	display: table;
}
.albumdesc {
	padding: 0 20px 0 415px;
	position: absolute;
}
.pages {
	margin: 10px 0;
}
#imageContainer {
	background-color: white;
}
#imageContainer {
	padding: 10px;	
}
.pastyears h3 {
	text-align: left;
	margin: 15px 0 0 1%;
}

/* Image detail
------------------------------ */
#mainImage {
	max-width: 100%;
    position: absolute;
	left: 50%; 
}
#imageOverlay {
	position: relative;
	left: 50%;
}
#viewImage p {
	text-align: center;
	margin: 10px auto;
}
.exif {
	text-align: center;
	position: relative;
	width: 30em !important;
	background-color: #F5F6F5;
	font-size: 0.9em !important;
	width: 50%;
}
#edit-editable_image_truncate, #edit-editable_album_2, .jeip-editfield {
	width:600px;
}
	
/* Archive
------------------------------ */
#tag_cloud .tags a {
	line-height: 1.5em;
}

.tags_title {
	color:#336633;
	font-size:15px;
	padding: 5px 0;
	margin: 1.2em 0 0.5em;
	font-weight: bold;
}
/* Search 
------------------------------ */
#search_form a {
	display: none;
}
#search_form {
	padding: 0px;
	margin: 0px;
	width: 300px;
}
#search {
	float: right;
	padding: 5px;
	text-align: center;
}
/* Front page stuff 
------------------------------ */
h2.index {
	text-align: center;
	padding: 10px 0 5px;
	font-size:20px;
}
p.recent {
	color: red;
}
/* General page layout stuff 
------------------------------ */
#container {
	width: 100%;
}
#content {
	padding: 5px;
	background:#EEE;
	color: inherit;
	min-height: 500px;
}
#content li {
	line-height: 1.4em;
}
#header h1 {
	line-height: 0.1em;
	*line-height: 1.4em; /* IE7 and below */
}
#header #sitename {
	float: left;
	height: 4em;
}
#header #sitedesc {
	float: right;
	margin-top: 2em;
	font-style: italic;
}
p {
	margin-top: 0;
	line-height: 1.3em;
}
#footer { 
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 0.8em;
}
.error {
	text-align: center;
	padding: 5px;
	background: red;
	color: white; 
	font-weight: bold;
	font-size:15px;
	text-decoration: none;
}
.success {
	text-align: center;
	padding: 5px;
	background: green;
	color: white; 
	font-weight: bold;
	font-size:15px;
	text-decoration: none;
}
.error a:hover {
	text-decoration:none;
	color: white;
}
.error a {
	text-decoration:underline;
	color: white;
}
p.date {
	font-size: 0.8em;
}

/* Image formatting
------------------------------ */
img {
	border: none;
}
p.iconimage img {
    vertical-align: middle;
}

/* Link bar along the top
------------------------------ */
.headbar {
	width: 100%;
	border: #989;
	border-style: solid;
	border-width: 1px 0;
	height: 3em;
	background-color: #FAFAFA;
}
.headbar a {
	text-decoration: none;
}
.headbar a:hover {
	text-decoration: underline;
}
.topbar {
	padding-bottom: 0.6em;
}
#search_input {
	width: 200px;
}
.taglist, .topbar span {
	display: block;
	margin: 0 auto;
	width: 98%;
	list-style: none;
}
.topbar h2 {
	text-align: left;
	margin: 0 0 5px 0;
}
.topbar {
	margin-top: 10px;
}
#breadcrumb {
	display: inline-block;
	vertical-align: middle;
	line-height: 3em;
	padding-left: 10px;
}
/* Lighbox
------------------------------ */
#overlay { background-image: url(overlay.png); }

* html #overlay {
	background-color: #000;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
}

#lightbox {
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
}

#lightboxDetails {
	font-size: 0.8em;
	padding-top: 0.4em;
}
	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#lightbox img{ border: none; } 
#overlay img{ border: none; }

/* News
------------------------------ */
#sidebar {
	background: #FAFAFA none repeat scroll 0 0;
	clear:none;
	float:right;
	top: 5em;
	padding: 5px 10px;
	margin: 5px;
}
#sidebar ul {
	list-style-type: none; 
	padding-left: 10px;
	margin-left: 0px;
}
#sidebar li {
	line-height: 1.8em;
}
#sidebar h4 {
	margin-top: 2px;
}
.newsarticlecredit ul, .newsarticlecredit li {
	display: inline;
	padding: 0px;
	margin: 0px;
}
.newsarticlecredit {
	font-size: smaller;
}
.newsarticle, #news #hitcounter {
	padding-left: 1%;
}
#news img , .newsdesc img {
    max-width: 100%;
}
.newsdesc img {
	width: 400px;
}

/* Comments
------------------------------ */
#comments h5 {
	margin: 10px 0;
	display: block;
}
#comments {
	clear: both;
	width: 800px;
	margin-top: 10px;
	padding: 0;
	padding-left: 1%;
}
#comments h2 {
	font-size: 1.2em;
	line-height: 1.6em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	letter-spacing: 0;
}
.error {
	color: #C33;
	font-weight: bold;
}
.comment {
	padding: 5px 8px 12px 8px;
	background: #FAFAFA;
	margin-bottom: 12px;
}
.commentmeta {
	margin-bottom: 12px;
}
.commentauthor {
	font-weight: bold;
}
.commentdate {
	margin-top: 12px;
	font-size: 85%;
}
#message {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

/* Page Navigation
------------------------------ */
.pagelist { 
  margin-top: 10px;
  border: 1px 0 solid white;
  background: #FAFAFA;
  width: 100%;
}
div.pagelist {
	display: table;
}
table.pagelist td {
	width: 25%;
}
ul.pagelist {
	font-size: 1em;
	clear: both;
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
	padding: 8px 0;
}
ul.pagelist li {
	display: inline;
}
ul.pagelist li a,ul.pagelist span.disabledlink, .pagelist a {
	padding: 3px;
}
ul.pagelist li.current a {
	text-decoration: none;
	cursor: default;
}
.pagelist .wrapper {
	padding: 10px;
	align-items: center;
    display: flex;
}
.pagelist .prev, .pagelist .nextIcon {
	padding-left: 10px;
	float: left; 
	text-align: right; 
	height: 100%;
}
.pagelist .next, .pagelist .prevIcon {
	padding-right: 10px;
	float: right;
	text-align: left; 
	height: 100%;
}
div.pagelist .disabledlink { 
	cursor: default;
	display: none;
}
#pagelinked .pagelist {
	text-align: center;
}

/* recent items icon */
.imagetitle small img {
	vertical-align: middle;
	margin-bottom:5px;
}

/* big screens */
@media screen and (min-width: 1400px) {
	#imagewrapper .image {
		width: calc(25% - 15px);
	}
	.imagetitle {
		width: 80%;
	}
}

/* smallish screens menu fix */
@media screen and (max-width: 1000px) {
	.menu {
		width: calc(25% - 8px);
	}
}

/* smallish screens */
@media screen and (max-width: 900px) {
	#header #sitedesc {
		float: left;
		margin: 0 0 1em 0;
	}
	#imagewrapper .image {
		width: calc(50% - 15px);
	}
	.albumthumb, .albumdesc , .summarydesc {
		width: 100%;
	}
	.albumthumb {
		display: table-footer-group;
		float: none;
		padding: 0 0 15px 0;
	}
	.albumthumb img {
		float: left;
	}
	.albumdesc, .summarydesc {
		display: table-header-group;
		padding: 0;
		position: relative;
	}	
}

/* mobile screens */
@media screen and (max-width: 600px) {
	#imagewrapper .image, #imagewrapper {
		width: 100%;
	}
	#imagewrapper {
	  margin: 0;
	}
	.menu {
		width: 100%;
	}
	#breadcrumb {
		display: none;
	}
	#search {
		float: inherit;
	}
	#search_form {
		width: inherit;
	}
	#mainImage {
		position: relative;
		left: 0;
		margin: 0 !important;
		height: auto;
	}
	#imageOverlay {
		display: none;
	}
}