/* Site menu formatting
------------------------------ */
.menu a {
	height: 1%;
}
.sitemenu{
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
}
.buttonbar {
	width: 100%;
}
.menu {
	width: 12%;
	text-align: center;
}
.menu a {
	display: block;
	padding: 3px;
	border: 1px solid;
	border-color: #ddd #000 #000 #ddd;
	background-color: #EEE;
	color: #336633;
	text-decoration: none;
}
.menu a:hover {
	background-color: #336633;
	color: white;
}
.group a {
	text-align:left;
}
#navigation a.sub {
	font-weight: bold;
	font-size: 1.1em;
	color:#336633;
} 
.righthead {
	float: right;
}
/* Admin toolbox
------------------------------ */
#admin, #admin_data {
	position: fixed;
  _position: absolute;
	right: 0px;
	top: 0px;
	width: 150px;
	border-bottom: 1px solid #E6E6DF;
	border-left: 1px solid #E6E6DF;
	background: #fff;
    z-index: 2; 	
    text-align: left;
}
#admin_data {
	top: 0px;
	padding-top: 10px;
	z-index: 1;
	line-height: 1.6em;
	text-align: center;
}
#admin_data ul {
	padding-left: 5px;
}
#admin h3 {
	font-size:12px;
	color: #989;
	margin: 0;
	padding: 0; 
	text-align: center;
}
#admin h3:hover { 
	color: #036; 
}

/* Font style attributes
------------------------------ */
body td, th, p, div, input, form, textarea {
	font-family:verdana,helvetica, sans-serif;
	font-size:12px;
}
h1, h2, h3, h4, h5, .h4 {
	background-color: inherit;
	text-decoration: none;
	color:#336633;
}
h1 {
	font-size:30px;
	padding:.1em 0 0;
}
h2 {
	font-size:18px;
	text-align: left;
	margin: 0 0 5px 0;
}
h3 {
	font-size:16px; 
	text-align:center;
}
h4 {
	font-size:15px;
	margin: 1.2em 0 0.5em;
}
h1 a, h2 a, h4 a {
	text-decoration: none;
	color:#336633;
}
h1 a:hover, h2 a:hover, h4 a:hover {
	text-decoration: underline;
}
.photocredit {
	font-style:italic; 
	font-size:xx-small;
}
h5 {
	font-size:13px;
	display: inline;
	vertical-align: bottom;
}
a {
	color:black;
	background-color: inherit;
}
a:hover {
	color:#336633;
	background-color: inherit;
	text-decoration: none;
}
.credit {
	font-size: .8em;
	line-height: 1em;
}
/* Gallery specific stuff
------------------------------ */
.centeredTable td {
	padding: 5px 10px;
	text-align: center;
}
.i {
	background-color: #FAFAFA;
	padding: 10px !important;
	vertical-align: top;
}
.i h4 {
	padding: 5px 0;
	margin: 0;
}
.i h4:hover {
	text-decoration: underline;
}
.album, .image {
	background-color: #F5F6F5;
	padding: 10px !important;
}
.album h4, .image h4 {
	padding: 5px 0;
	margin: 0;
}
.albumdesc h4 {
	padding: 10px 0 0 0.5em;
}
.pages {
	margin: 10px 0;
}
.imageDisplay {
	background-color: white;
	padding: 10px !important;
}
.exif {
	text-align: center;
	position: relative;
	width: 30em !important;
	background-color: #F5F6F5;
	font-size: 0.9em !important;
	width: 50%;
}
/* Search and archive
------------------------------ */
#tag_cloud .tags a {
	line-height: 1.5em;
}
#edit-editable_image_truncate, #edit-editable_album_2, .jeip-editfield {
	width:600px;
}
#search_form a {
	display: none;
}
#search {
	float: right;
	padding: 5px;
	text-align: center;
}
/* Front page stuff 
------------------------------ */
h2.index {
	text-align: center;
	padding: 10px 0 5px;
	font-size:20px;
}
p.recent {
	color: red;
}
.indexalbums {
	width: 100%;
	padding: 5px;
}
.indexalbums .albumthumb {
	width: 280px;
	text-align: center;
	padding: 10px;
}
.indexalbums .albumdesc {
	text-align: left;
	vertical-align: top;
}
/* General page layout stuff 
------------------------------ */
#container {
	width: 100%;
}
#content {
	padding: 5px;
	background:#EEE;
	color: inherit;
	min-height: 500px;
}
#content li {
	line-height: 1.4em;
}
#header h1 {
	line-height: 0.8em;
}
p {
	width: 98%;
	margin: 0.7em auto;
	line-height: 1.3em;
}
#footer { 
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 0.8em;
}
.centeredTable, #centeredAlbums {
	margin: auto;
	width: 98%;
	margin-top: 5px;
}
.error {
	text-align: center;
	padding: 5px;
	background: red;
	color: white; 
	font-weight: bold;
	font-size:15px;
	text-decoration: none;
}
.success {
	text-align: center;
	padding: 5px;
	background: green;
	color: white; 
	font-weight: bold;
	font-size:15px;
	text-decoration: none;
}
.error a:hover {
	text-decoration:none;
	color: white;
}
.error a {
	text-decoration:underline;
	color: white;
}
p.date {
	font-size: 0.8em;
}

/* Image formatting
------------------------------ */
img {
	border: none;
}

/* Link bar along the top
------------------------------ */
.headbar {
	font-size : 11px;
	width: 100%;
	border: #989;
	border-style: solid;
	border-width: 1px 0;
	min-height: 2em;
	background-color: #FAFAFA;
}
.headbar a {
	text-decoration: none;
}
.headbar a:hover {
	text-decoration: underline;
}
.topbar span {
	padding-bottom: 0.6em;
}
#search_input {
	width: 200px;
}
.taglist, .topbar span {
	display: block;
	margin: 0 auto;
	width: 98%;
}
.topbar h2 {
	text-align: left;
	margin: 0 0 5px 0;
}
.topbar {
	margin-top: 10px;
}
/* Lighbox
------------------------------ */
#overlay { background-image: url(/zp-core/images/overlay.png); }

* html #overlay {
	background-color: #000;
	back\ground-color: transparent;
	background-image: url(/zp-core/images/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/zp-core/images/overlay.png", sizingMethod="scale");
}

#lightbox {
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
}

#lightboxDetails {
	font-size: 0.8em;
	padding-top: 0.4em;
}
	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#lightbox img{ border: none; } 
#overlay img{ border: none; }

/* News
------------------------------ */
#sidebar {
	background: #FAFAFA none repeat scroll 0 0;
	clear:none;
	float:right;
	top: 5em;
	padding: 5px 10px;
	margin: 5px;
}
#sidebar ul {
	list-style-type: none; 
	padding-left: 10px;
}
#sidebar li {
	line-height: 1.8em;
}
#sidebar h4 {
	margin-top: 2px;
}
.newsarticlecredit ul, .newsarticlecredit li {
	display: inline;
	padding: 0px;
}
.newsarticlecredit {
	font-size: smaller;
}
#news p {
	width: 100%;
}
#news {
	padding-left: 5px;
}

/* Comments
------------------------------ */
#comments h5 {
	margin: 10px 0;
	display: block;
}
#comments {
	clear: both;
	width: 800px;
	margin-top: 10px;
	padding: 0;
}
#comments h2 {
	font-size: 1.2em;
	line-height: 1.6em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	letter-spacing: 0;
}
.error {
	color: #C33;
	font-weight: bold;
}
.comment {
	padding: 5px 8px 12px 8px;
	background: #FAFAFA;
	margin-bottom: 12px;
}
.commentmeta {
	margin-bottom: 12px;
}
.commentauthor {
	font-weight: bold;
}
.commentdate {
	margin-top: 12px;
	font-size: 85%;
}

/* Page Navigation
------------------------------ */
.nextables { 
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px 0 solid white;
  background: #FAFAFA;
  width: 100%;
}
ul.pagelist {
	font-size: 1em;
	clear: both;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
ul.pagelist li {
	display: inline;
}
ul.pagelist li a,ul.pagelist span.disabledlink, .pagelist a {
	padding: 2px;
}
ul.pagelist li.current a {
	text-decoration: none;
	cursor: default;
}
ul.pagelist li.prev {
	margin-right: 10px;
}
ul.pagelist li.next {
	margin-left: 10px;
}
.disabledlink {
	color: #ddd;
	cursor: default;
}
.pagenav {
	clear: both;
}
.disabled_nav {
	visibility: hidden;
	padding: 0 !important;
	margin: 0 !important;
}
.nextables #pagelinked td {
	width: 33%;
}
#pagelinked .pagelist {
	text-align: center;
}
.nextables A.next { 
	float: right;
	text-align: left; 
	height: 100%;
}
.nextables A.prev { 
	float: left; 
	text-align: right; 
	height: 100%;
}
.nextables A:hover, .nextables A:active { 
	text-decoration: none; 
}
#thumbnav td {
	width: 25%;
}
h4.main_formhead {
	display: none;
}

/* recent items icon */
.imagetitle small img {
	vertical-align: middle;
	margin-bottom:5px;
}